body {
    background-color: #F4F4F4;
}

.yellow-span {
    background-color: #FFDE59
    ;
    
}

.h1-menu {
font-weight: bold;
font-size: 45px;
}

.h2-menu {
    padding-top: 20px;
}

.box-title {
    font-weight: bold;
}